:root {
	--bs-body-font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

header {
	padding: 10px 0 10px 0;
	background-image: url(./img/background.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	text-shadow: 1px 1px 5px #000;
}

.bg-geyser-primary {
	background-color: #008ab8;
}

.bg-twitter {
	background-color: #1da1f2 !important;
}

.bg-discord {
	background-color: #5865F2 !important;
}

.social-icon {
	display: block;
	height: 3rem;
	width: 3rem;
	line-height: 2.4rem;
    font-size: 1.5rem;
	transition: filter .15s ease-in-out;
}

.social-icon:hover {
	filter: brightness(0.8);
}
.joinbtn
{
	background-image:url('/img/discord.png');
	background-position: left center;
  background-repeat: no-repeat;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size:40px;
	
	background-color: #5865F2;
	border-radius: 10px;
	padding-block: 10px;
	padding-right:10px;
	padding-left: 70px;
	
}
.wiki
{
	background-image:url('/img/docs.png');
	background-position: left center;
  background-repeat: no-repeat;
	margin-top: 100px;
	color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	font-size:40px;
	
	background-color: #cacaca;
	border-radius: 10px;
	padding-block: 10px;
	padding-left:50px;
	padding-right:10px;
}
.qa{
	margin-top: 300px;
}
.err{
	margin-top:00px;
}